cambrian/__pycache__/
cambrian/model/__pycache__/
cambrian/model/language_model/__pycache__/
cambrian/model/multimodal_encoder/__pycache__/
cambrian/model/multimodal_projector/__pycache__/
cambrian/open_clip/__pycache__/
cambrian/timm/__pycache__/
cambrian/timm/data/__pycache__/
cambrian/timm/layers/__pycache__/
cambrian/timm/models/__pycache__/
cambrian/transformers/__pycache__/
cambrian/transformers/generation/__pycache__/
cambrian/transformers/models/clip/__pycache__/
cambrian/transformers/models/dinov2/__pycache__/
cambrian/transformers/models/llama/__pycache__/
cambrian/transformers/utils/__pycache__/

.idea

./rank_*

./irs

